Dockerfile
.dockerignore
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.next
.vercel
.github
.vscode
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
out
build
dist
.DS_Store
coverage
.nyc_output
.cache
.parcel-cache
.idea
.swp
.md
.swo
.log
.netlify
.sentryclirc
.prettierrc
.eslintrc.json
.prettierignore
.eslintignore
.stylelintignore
.stylelintrc.json
tsconfig.tsbuildinfo